body{
    background-color:#8d93ab;
}
img{
    width:800px;
    border-radius:300px;
    
    
}
div{
    background-color:#d57149;
    width:300px;
    height:300px;
    border-radius:50% 50% 50% 50%; 
    align-items: center;
    justify-content: center;
}
}
td{

}

table{
       border-spacing:55px;
}
#days{
    background-color:#eb8f8f;
}
